Repository reefland/motd, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/README-update

Enhanced NVMe support. Add wear indicators.
  36-diskstatus
  README.md
  multi_device_example.png
  nvme_status_c_to_f.png
  nvme_status_passed.png
  nvme_status_untested.png
Labels: area/README-update

Comment fix per linter
  README.md
Labels: area/README-update

Fixes per linter
  36-diskstatus
Labels: none

Fixes per linter
  36-diskstatus
Labels: none

Fixes per linter
  36-diskstatus
Labels: none

Fixes per linter
  36-diskstatus
Labels: none

Fixes per linter
  36-diskstatus
Labels: none

Fixes per linter
  36-diskstatus
Labels: none

FIX: double percent no longer needed in formatting
  36-diskstatus
Labels: none

FIX: double percent no longer needed in formatting
  36-diskstatus
Labels: none

Initial commit
  .gitignore
Labels: area/github

journalctl is now default instead of syslog
  36-diskstatus
  README.md
Labels: area/README-update

hddtemp support removed.
  36-diskstatus
  README.md
Labels: area/README-update

ADD: Percent_Lifetime_Remain wear level indicator
  36-diskstatus
  README.md
Labels: area/README-update

DOC: Example of "PASSED" added
  README.md
Labels: area/README-update

DOC: comment update
  36-diskstatus
Labels: none

DOC: Fix line length issue per linter
  README.md
Labels: area/README-update

FIX mixmatched color brackets in percent_left
  36-diskstatus
Labels: none

FIX: Ignore INVALID_FIELD on NVMe, return "passed"
  36-diskstatus
Labels: none

FIX: Made NVMe Invalid Field detection case insensitive
  36-diskstatus
Labels: none

NEW: Initial Commit
  30-zpool-detailed
Labels: none

FIX: Add double quotes per linter
  30-zpool-detailed
Labels: none

NEW: Filter out empty datasets used less than 1%
  30-zpool-detailed
Labels: none

NEW: Dynamic column size for pool/dataset and filter out datasets less than 1% used.
  30-zpool-detailed
Labels: none

Zpool detailed usage script output example
  zpool_detailed_example.png
Labels: none

DOC: Removed old HDD temp info added new script examples
  README.md
Labels: area/README-update

fix: removed variation in pool name based display column.
  30-zpool-detailed
Labels: none

fix: device temperature will return first match only
  36-diskstatus
Labels: none

doc: bump release date and version
  36-diskstatus
Labels: none

fix: if update file not found, don't perform grep.
  90-updates-available-no-esm
Labels: none

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
  - ".gitignore"
area/README-update:
  - "**/README.md"
